<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>View Article</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B"
        crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ"
        crossorigin="anonymous">

    <link rel="stylesheet" href="/dashboard.css">
</head>

<body>
    <div class="container-fluid">

        <div class="nav row no-gutters align-items-center">
            <div class="col-sm-8">
                <div class="row align-items-center">
                    <h1>View Article</h1>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="row align-items-center" id="menu">
                    <a id="homepage" href="/home">Home</a>
                    <a class="currentpage" id="dashboardpage" href="/dashboard">Dashboard</a>
                    <a id="profilepage" href="/profile">Profile</a>
                    <a id="signoutpage" href="/signout">Sign-Out</a>
                </div>
            </div>
        </div>

        <div class="row no-gutters align-items-center friendly">
            <div class="col-md-8" id="name">Hi
                <%= user.name.split(' ')[0] %>
            </div>
            <div class="col-md-4">
                <div class="row social">
                    <div>
                        <i class="fab fa-facebook"></i>
                    </div>
                    <div>
                        <i class="fab fa-tumblr-square"></i>
                    </div>
                    <div>
                        <i class="fab fa-blogger"></i>
                    </div>
                    <div>
                        <i class="fab fa-google-plus-square"></i>
                    </div>
                </div>

            </div>
        </div>







        <div class="row no-gutters" id="authortoolswrap">
            <div class="col-sm-3">
                <div class="row align-items-start" id="leftsidebar">
                    <div class="col align-self-start" id="authortools">
                        <div>
                            <div class="row authortoolsheader"></div>

                            <ul class="authortoolsfilter">
                                <li id="createarticle">
                                    <a href="/createarticle">
                                        <i class="fas fa-plus-square"></i> New</li>
                                </a>
                            </ul>

                        </div>
                        <div>
                            <div class="row authortoolsheader">Filter</div>

                            <ul class="authortoolsfilter">
                                <li id="filtercategory">
                                    <i class="far fa-address-book"></i> Category</li>
                                <li id="filterpopularity">
                                    <i class="fas fa-users"></i> Popularity</li>
                                <li id="filtervotes">
                                    <i class="fas fa-star"></i> Votes</li>
                                <li id="filterage">
                                    <i class="fab fa-algolia"></i> Latest</li>
                                <li id="commenttotal">
                                    <i class="fas fa-comments"></i> Comments</li>
                            </ul>

                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-9 align-self-start">
                <div class="blog_post">

                    <div class="feedback">
                        <% if (message.length) { %>
                            <div class="flash">
                                <%= message %>
                            </div>
                            <% } %>
                    </div>
                    
                        <%  {%>






                            <div class="blog">

                                <div class="image">

                                    <a href="#">
                                        <img src="images/image_1000x400.jpg" alt="">
                                        <span class="overlay"></span>
                                    </a>

                                </div>

                                <div class="row">

                                    <div class="col-sm-2">
                                        <div class="articledate">
                                            <%= format.date(new Date(articles.articledate), 'yyyy-mm-dd').date %>
                                        </div>
                                        <div class="articlecategory">
                                            <%= articles.category %>
                                        </div>
                                    </div>

                                    <div class="col-sm-10">

                                        <h2 class="articletitle">
                                            <a href="#">
                                                <%= articles.title %>
                                            </a>
                                        </h2>


                                        <p class="articletext">
                                            <%= articles.text %>
                                        </p>
                                        <p class="articletags">
                                            <h5>Tags</h5>
                                            <%= articles.tags %>
                                        </p>

                                    </div>

                                </div>

                            </div>

                            <hr>
                            <h5>Comments</h5>
                            <% if (typeof comments !== 'undefined' && comments.length > 0) {%>
                                <%for (var n = 0; n < comments.length; n++) { %>
                                    <div><%= comments[n].text %></div>
                                    <hr>       

                            <% }}}%>
                </div>
            </div>
        </div>



        <div id="footer" class="nav row no-gutters align-items-center">
            <div class="col-sm-6">
                <div class="row align-items-center">
                    <h1>Footer</h1>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="row align-items-center" id="footerelementswrap">

                    <ul class="footerelements">
                        <li id="copyright">
                            <i class="far fa-copyright"></i>copyright Lazara Michelle</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>







    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="/main.js"></script>
</body>

</html>